.home_container {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-areas:
    "nav nav"
    "posts recommended";
  grid-template-columns: 1fr 28rem;
  grid-template-rows: 10rem 1fr;
}

.nav_container {
  grid-area: nav;
  background-color: green;
}

.posts_container {
  grid-area: posts;
  margin: 8rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.recommended_container {
  background-color: var(--grey-light-1);
  grid-area: recommended;
}
