.home_container {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-areas:
    "nav nav"
    "posts side";
  grid-template-columns: 1fr 28rem;
  grid-template-rows: 10rem 1fr;
}

.nav_container {
  grid-area: nav;
  background-color: var(--grey-light-1);
}

.posts_container {
  grid-area: posts;
  margin: 8rem;
  padding: 1rem;
  margin-top: 40px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 20px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.side_container {
  background-color: var(--grey-light-1);
  overflow-y: scroll;
  grid-area: side;
}

.posts_container::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}
